
<!-- Main Content -->
<div class="careerfy-main-content">

    <!-- Main Section -->
    <div class="careerfy-main-section careerfy-dashboard-fulltwo">
        <div class="container">
            <div class="row">

                <aside class="careerfy-column-4">
                    <div class="careerfy-typo-wrap">
                        <div class="jobsearch_candidate_info">
                            <figure><img src="./assets/extra-images/candidate-thumb-1.jpg" alt=""></figure>
                            <h2><a href="#">{{ candidate?.last_name }} {{ candidate?.first_name }}</a></h2>
                            <p>Financial Supervisor at <a href="#">Yup Studio</a></p>
                            <span>{{ candidate?.addresses?.country }}, {{ candidate?.addresses?.street }}</span>
                            <small>Member Since, {{ candidate?.created_at }}</small>
                            <ul>
                                <li><a href="#" data-original-title="facebook" class="careerfy-icon careerfy-facebook-logo"></a></li>
                                <li><a href="#" data-original-title="twitter" class="careerfy-icon careerfy-twitter-logo"></a></li>
                                <li><a href="#" data-original-title="linkedin" class="careerfy-icon careerfy-linkedin-button"></a></li>
                                <li><a href="#" data-original-title="google-plus" class="careerfy-icon careerfy-google-plus-logo-button"></a></li>
                                <li><a href="#" data-original-title="dribbble" class="careerfy-icon careerfy-dribbble-logo"></a></li>
                            </ul>
                            <a href="#" class="careerfy-candidate-download-btn"><i class="careerfy-icon careerfy-download-arrow"></i> Download CV</a>
                        </div>

                    </div>
                </aside>

                <section class="careerfy-column-8">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description | About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Expériences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <app-candidate-description [candidate]="candidate"></app-candidate-description>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <app-candidate-experiences [candidate]="candidate"></app-candidate-experiences>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>
                </section>



                <!--<div class="careerfy-column-8">
                    <div class="careerfy-typo-wrap">
                        <div class="careerfy-candidate-editor">
                            <div class="careerfy-content-title"><h2>About Ariana Grande</h2></div>
                            <div class="careerfy-jobdetail-services">
                                <ul class="careerfy-row">
                                    <li class="careerfy-column-4">
                                        <i class="careerfy-icon careerfy-salary"></i>
                                        <div class="careerfy-services-text">Offerd Salary <small>£50,000+</small></div>
                                    </li>
                                    <li class="careerfy-column-4">
                                        <i class="careerfy-icon careerfy-social-media"></i>
                                        <div class="careerfy-services-text">Career Level <small>Manager</small></div>
                                    </li>
                                    <li class="careerfy-column-4">
                                        <i class="careerfy-icon careerfy-briefcase"></i>
                                        <div class="careerfy-services-text">Experience <small>7 Years</small></div>
                                    </li>
                                    <li class="careerfy-column-4">
                                        <i class="careerfy-icon careerfy-user"></i>
                                        <div class="careerfy-services-text">Gender <small>Male</small></div>
                                    </li>
                                    <li class="careerfy-column-4">
                                        <i class="careerfy-icon careerfy-network"></i>
                                        <div class="careerfy-services-text">Industry <small>Banking</small></div>
                                    </li>
                                    <li class="careerfy-column-4">
                                        <i class="careerfy-icon careerfy-mortarboard"></i>
                                        <div class="careerfy-services-text">Qualification <small>Master’s Degree</small></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="careerfy-content-title"><h2>Candidte Description</h2></div>
                            <div class="careerfy-description">
                                <p>Hello my name is Ariana Gande Connor and I’m a Financial Supervisor from Netherlands, Rotterdam. In pharetra orci dignissim, blandit mi semper, ultricies diam. Suspendisse malesuada suscipit nunc non volutpat. Sed porta nulla id orci laoreet tempor non consequat enim. Sed vitae aliquam velit. Aliquam ante accumsan ac est.</p>
                            </div>
                            <div class="careerfy-description">
                                <p>Integer vehicula rhoncus molestie. Morbi ornare ipsum sed sem condimentum, et pulvinar tortor luctus. Suspendisse condimentum lorem ut elementum aliquam. Mauris nec erat ut libero vulputate pulvinar. Aliquam ante erat, blandit at pretium et, accumsan ac est. Integer vehicula rhoncus molestie. Morbi ornare ipsum sed sem condimentum, et pulvinar tortor luctus. Suspendisse condimentum lorem ut elementum aliquam. Mauris nec.</p>
                            </div>
                        </div>
                        <div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-mortarboard"></i> Education</h2> </div>
                        <div class="careerfy-candidate-timeline">
                            <ul class="careerfy-row">
                                <li class="careerfy-column-12">
                                    <small>2002 - 2004</small>
                                    <div class="careerfy-candidate-timeline-text">
                                        <span>Walters University</span>
                                        <h2><a href="#">Masters in Fine Arts</a></h2>
                                        <p>Fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered. outside oh arrogantly vehement.</p>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <small>2012 - 2015</small>
                                    <div class="careerfy-candidate-timeline-text">
                                        <span>Bachlors in Fine Arts</span>
                                        <h2><a href="#">Tommers College</a></h2>
                                        <p>That one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally.</p>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <small>2014 - 2015</small>
                                    <div class="careerfy-candidate-timeline-text">
                                        <span>Imperieal Institute of Art Direction</span>
                                        <h2><a href="#">Diploma in Fine Arts</a></h2>
                                        <p>Outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously  a glowered.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-social-media"></i> Experince</h2> </div>
                        <div class="careerfy-candidate-timeline">
                            <ul class="careerfy-row">
                                <li class="careerfy-column-12">
                                    <small>2010 - 2012</small>
                                    <div class="careerfy-candidate-timeline-text">
                                        <span>Atract Solutions</span>
                                        <h2><a href="#">Development Manager</a></h2>
                                        <p>Arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered.</p>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <small>2006 - 2008</small>
                                    <div class="careerfy-candidate-timeline-text">
                                        <span>Bachlors in Fine Arts</span>
                                        <h2><a href="#">Minor Solutions</a></h2>
                                        <p>Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally.</p>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <small>2002 - 2004</small>
                                    <div class="careerfy-candidate-timeline-text">
                                        <span>Abstraxct Max</span>
                                        <h2><a href="#">Self Employed Professional</a></h2>
                                        <p>Outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="jobsearch_progressbar_wrap">
                            <div class="careerfy-row">
                                <div class="careerfy-column-6">
                                    <div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-design-skills"></i> Skills</h2> </div>
                                    <div class="jobsearch_progressbar1" data-width='90'>Sale Product</div>
                                    <div class="jobsearch_progressbar1" data-width='72'>Google Seo</div>
                                    <div class="jobsearch_progressbar1" data-width='50'>Listening</div>
                                    <div class="jobsearch_progressbar1" data-width='95'>Graphic Design</div>
                                    <div class="jobsearch_progressbar1" data-width='75'>Business Sense</div>
                                </div>
                                <div class="careerfy-column-6">
                                    <span class="jobsearch_progressbar_subtitle">Personal Skills</span>
                                    <div class="jobsearch_progressbar1" data-width='90'>Creativity</div>
                                    <div class="jobsearch_progressbar1" data-width='72'>Team Group</div>
                                    <div class="jobsearch_progressbar1" data-width='50'>Organizations</div>
                                    <div class="jobsearch_progressbar1" data-width='95'>Flexibilty</div>
                                    <div class="jobsearch_progressbar1" data-width='75'>Communication</div>
                                </div>
                            </div>
                        </div>
                        <div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-briefcase"></i> Portfolio</h2> </div>
                        <div class="careerfy-gallery careerfy-simple-gallery candidate_portfolio">
                            <ul class="careerfy-row grid">
                                <li class="grid-item careerfy-column-3"> <a href="extra-images/employer-gallery-2.jpg" class="fancybox" data-fancybox-group="group"><img src="extra-images/employer-gallery-1.jpg" alt=""></a> </li>
                                <li class="grid-item careerfy-column-6"> <a href="extra-images/employer-gallery-2.jpg" class="fancybox" data-fancybox-group="group"><img src="extra-images/employer-gallery-2.jpg" alt=""></a> </li>
                                <li class="grid-item careerfy-column-3"> <a href="extra-images/employer-gallery-2.jpg" class="fancybox" data-fancybox-group="group"><img src="extra-images/employer-gallery-3.jpg" alt=""></a> </li>
                                <li class="grid-item careerfy-column-3"> <a href="extra-images/employer-gallery-2.jpg" class="fancybox" data-fancybox-group="group"><img src="extra-images/employer-gallery-4.jpg" alt=""></a> </li>
                                <li class="grid-item careerfy-column-3"> <a href="extra-images/employer-gallery-2.jpg" class="fancybox" data-fancybox-group="group"><img src="extra-images/employer-gallery-5.jpg" alt=""></a> </li>
                            </ul>
                        </div>
                        <div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-trophy"></i> Honors & awards</h2> </div>
                        <div class="careerfy-candidate-timeline">
                            <ul class="careerfy-row">
                                <li class="careerfy-column-12">
                                    <small>2007</small>
                                    <div class="careerfy-candidate-timeline-text">
                                        <span>Yeartam</span>
                                        <h2><a href="#">Distinguished Service Award</a></h2>
                                        <p>Fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered. outside ignobly allegedly more when vehement.</p>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <small>2012</small>
                                    <div class="careerfy-candidate-timeline-text">
                                        <span>Goldtech</span>
                                        <h2><a href="#">Robin Milner Young Researcher Award</a></h2>
                                        <p>That one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally.</p>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <small>2014</small>
                                    <div class="careerfy-candidate-timeline-text">
                                        <span>Unodoncity</span>
                                        <h2><a href="#">Doctoral Dissertation Award</a></h2>
                                        <p>Outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously a glowered.</p>
                                    </div>
                                </li>
                                <li class="careerfy-column-12">
                                    <small>Dec 2016</small>
                                    <div class="careerfy-candidate-timeline-text">
                                        <span>Techzenbam</span>
                                        <h2><a href="#">Programming Languages Achievement</a></h2>
                                        <p>Outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely hastily dalmatian a glowered.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
    <!-- Main Section -->

</div>
<!-- Main Content -->