<!-- Main Content -->
<div class="careerfy-main-content">

  <!-- Main Section -->
  <div class="careerfy-main-section careerfy-top-full">
      <div class="container">
          <div class="row">

              <aside class="careerfy-column-3">
                  <div class="careerfy-typo-wrap">
                      <form class="careerfy-search-filter">
                          <div class="careerfy-search-filter-wrap careerfy-without-toggle">
                              <h2><a href="#">Top Employer</a></h2>
                              <div class="careerfy-search-box">
                                  <input value="Search" onblur="if(this.value == '') { this.value ='Search'; }" onfocus="if(this.value =='Search') { this.value = ''; }" type="text">
                                  <input type="submit" value="">
                                  <i class="careerfy-icon careerfy-search"></i>
                              </div>
                              <div class="careerfy-location-box">
                                  <input value="All Locaions" onblur="if(this.value == '') { this.value ='All Locaions'; }" onfocus="if(this.value =='All Locaions') { this.value = ''; }" type="text">
                                  <i class="careerfy-icon careerfy-location"></i>
                              </div>
                          </div>
                          <div class="careerfy-search-filter-wrap careerfy-search-filter-toggle">
                              <h2><a href="#" class="careerfy-click-btn">Last Activity</a></h2>
                              <div class="careerfy-checkbox-toggle">
                                  <ul class="careerfy-checkbox">
                                      <li>
                                          <input type="checkbox" id="r5" name="rr" />
                                          <label for="r5"><span></span>Last Hour</label>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r6" name="rr" />
                                          <label for="r6"><span></span>Last 24 hours</label>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r7" name="rr" />
                                          <label for="r7"><span></span>Last 7 days</label>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r8" name="rr" />
                                          <label for="r8"><span></span>Last 14 days</label>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r9" name="rr" />
                                          <label for="r9"><span></span>Last 30 days</label>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r10" name="rr" />
                                          <label for="r10"><span></span>All</label>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="careerfy-search-filter-wrap careerfy-search-filter-toggle">
                              <h2><a href="#" class="careerfy-click-btn">Categories</a></h2>
                              <div class="careerfy-checkbox-toggle">
                                  <ul class="careerfy-checkbox">
                                      <li>
                                          <input type="checkbox" id="r17" name="rr" />
                                          <label for="r17"><span></span>Accountancy</label>
                                          <small>10</small>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r18" name="rr" />
                                          <label for="r18"><span></span>Banking</label>
                                          <small>2</small>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r19" name="rr" />
                                          <label for="r19"><span></span>Charity & Voluntary</label>
                                          <small>6</small>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r20" name="rr" />
                                          <label for="r20"><span></span>Digital & Creative</label>
                                          <small>4</small>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r21" name="rr" />
                                          <label for="r21"><span></span>Estate Agency</label>
                                          <small>19</small>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r22" name="rr" />
                                          <label for="r22"><span></span>Graduate</label>
                                          <small>5</small>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r23" name="rr" />
                                          <label for="r23"><span></span>IT Contractor</label>
                                          <small>10</small>
                                      </li>
                                  </ul>
                                  <a href="#" class="careerfy-seemore">+see more</a>
                              </div>
                          </div>
                          <div class="careerfy-search-filter-wrap careerfy-search-filter-toggle">
                              <h2><a href="#" class="careerfy-click-btn">Est.Since</a></h2>
                              <div class="careerfy-checkbox-toggle">
                                  <ul class="careerfy-checkbox">
                                      <li>
                                          <input type="checkbox" id="r11" name="rr" />
                                          <label for="r11"><span></span>Freelance</label>
                                          <small>13</small>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r12" name="rr" />
                                          <label for="r12"><span></span>Full Time</label>
                                          <small>4</small>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r13" name="rr" />
                                          <label for="r13"><span></span>Internship</label>
                                          <small>12</small>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r14" name="rr" />
                                          <label for="r14"><span></span>Part Time</label>
                                          <small>22</small>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r15" name="rr" />
                                          <label for="r15"><span></span>Temporary</label>
                                          <small>5</small>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="r16" name="rr" />
                                          <label for="r16"><span></span>Volunteer</label>
                                          <small>20</small>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </form>
                  </div>
              </aside>
              <div class="careerfy-column-9">
                  <div class="careerfy-typo-wrap">
                      <!-- FilterAble -->
                      <div class="careerfy-filterable">
                          <h2>Showing 0-12 of 37 results</h2>
                          <ul>
                              <li>
                                  <i class="careerfy-icon careerfy-sort"></i>
                                  <div class="careerfy-filterable-select">
                                      <select>
                                          <option>Sort</option>
                                          <option>Sort</option>
                                          <option>Sort</option>
                                      </select>
                                  </div>
                              </li>
                              <li><a href="#"><i class="careerfy-icon careerfy-squares"></i> Grid</a></li>
                              <li><a href="#"><i class="careerfy-icon careerfy-list"></i> List</a></li>
                          </ul>
                      </div>
                      <!-- Candidate Listings -->
                      <div class="careerfy-candidate careerfy-candidate-default">
                          <ul class="careerfy-row">
                              <li class="careerfy-column-12">
                                  <div class="careerfy-candidate-default-wrap">
                                      <figure><a href="#"><img src="./assets/extra-images/candidate-listing-thumb-1.jpg" alt=""></a></figure>
                                      <div class="careerfy-candidate-default-text">
                                          <div class="careerfy-candidate-default-left">
                                              <h2><a href="#">Hoang Nguyen</a> <i class="careerfy-icon careerfy-check-mark"></i></h2>
                                              <ul>
                                                  <li>Fashion Designer at <a href="#" class="careerfy-candidate-default-studio">Yup Studio</a></li>
                                                  <li><i class="fa fa-map-marker"></i> Netherlands, Rotterdam</li>
                                                  <li><i class="careerfy-icon careerfy-envelope"></i> <a href="#">hoang@gmail.com</a></li>
                                              </ul>
                                          </div>
                                          <a href="#" class="careerfy-candidate-default-btn"><i class="careerfy-icon careerfy-add-list"></i> Shortlist</a>
                                      </div>
                                  </div>
                              </li>
                              <li class="careerfy-column-12">
                                  <div class="careerfy-candidate-default-wrap">
                                      <figure><a href="#"><img src="./assets/extra-images/candidate-listing-thumb-2.jpg" alt=""></a></figure>
                                      <div class="careerfy-candidate-default-text">
                                          <div class="careerfy-candidate-default-left">
                                              <h2><a href="#">Minh Pham</a></h2>
                                              <ul>
                                                  <li>Product Designer at <a href="#" class="careerfy-candidate-default-studio">InteractiveLabs</a></li>
                                                  <li><i class="fa fa-map-marker"></i> Netherlands, Rotterdam</li>
                                                  <li><i class="careerfy-icon careerfy-envelope"></i> <a href="#">hoang@gmail.com</a></li>
                                              </ul>
                                          </div>
                                          <a href="#" class="careerfy-candidate-default-btn"><i class="careerfy-icon careerfy-add-list"></i> Shortlist</a>
                                      </div>
                                  </div>
                              </li>
                              <li class="careerfy-column-12">
                                  <div class="careerfy-candidate-default-wrap">
                                      <figure><a href="#"><img src="./assets/extra-images/candidate-listing-thumb-3.jpg" alt=""></a></figure>
                                      <div class="careerfy-candidate-default-text">
                                          <div class="careerfy-candidate-default-left">
                                              <h2><a href="#">Kenneth Reed</a></h2>
                                              <ul>
                                                  <li>Co-Founder at Ken <a href="#" class="careerfy-candidate-default-studio">Fashion</a></li>
                                                  <li><i class="fa fa-map-marker"></i> Netherlands, Rotterdam</li>
                                                  <li><i class="careerfy-icon careerfy-envelope"></i> <a href="#">hoang@gmail.com</a></li>
                                              </ul>
                                          </div>
                                          <a href="#" class="careerfy-candidate-default-btn"><i class="careerfy-icon careerfy-add-list"></i> Shortlist</a>
                                      </div>
                                  </div>
                              </li>
                              <li class="careerfy-column-12">
                                  <div class="careerfy-candidate-default-wrap">
                                      <figure><a href="#"><img src="./assets/extra-images/candidate-listing-thumb-4.jpg" alt=""></a></figure>
                                      <div class="careerfy-candidate-default-text">
                                          <div class="careerfy-candidate-default-left">
                                              <h2><a href="#">Chris Rice</a></h2>
                                              <ul>
                                                  <li>Fashion Model at <a href="#" class="careerfy-candidate-default-studio">Victoria Secret</a></li>
                                                  <li><i class="fa fa-map-marker"></i> Netherlands, Rotterdam</li>
                                                  <li><i class="careerfy-icon careerfy-envelope"></i> <a href="#">hoang@gmail.com</a></li>
                                              </ul>
                                          </div>
                                          <a href="#" class="careerfy-candidate-default-btn"><i class="careerfy-icon careerfy-add-list"></i> Shortlist</a>
                                      </div>
                                  </div>
                              </li>
                              <li class="careerfy-column-12">
                                  <div class="careerfy-candidate-default-wrap">
                                      <figure><a href="#"><img src="./assets/extra-images/candidate-listing-thumb-5.jpg" alt=""></a></figure>
                                      <div class="careerfy-candidate-default-text">
                                          <div class="careerfy-candidate-default-left">
                                              <h2><a href="#">Linda Murray</a> <i class="careerfy-icon careerfy-check-mark"></i></h2>
                                              <ul>
                                                  <li>Photographer at <a href="#" class="careerfy-candidate-default-studio">MNZ Magazine</a></li>
                                                  <li><i class="fa fa-map-marker"></i> Netherlands, Rotterdam</li>
                                                  <li><i class="careerfy-icon careerfy-envelope"></i> <a href="#">hoang@gmail.com</a></li>
                                              </ul>
                                          </div>
                                          <a href="#" class="careerfy-candidate-default-btn"><i class="careerfy-icon careerfy-add-list"></i> Shortlist</a>
                                      </div>
                                  </div>
                              </li>
                              <li class="careerfy-column-12">
                                  <div class="careerfy-candidate-default-wrap">
                                      <figure><a href="#"><img src="./assets/extra-images/candidate-listing-thumb-6.jpg" alt=""></a></figure>
                                      <div class="careerfy-candidate-default-text">
                                          <div class="careerfy-candidate-default-left">
                                              <h2><a href="#">Roy Nelson</a></h2>
                                              <ul>
                                                  <li>Creative Director at <a href="#" class="careerfy-candidate-default-studio">Cofe Garage</a></li>
                                                  <li><i class="fa fa-map-marker"></i> Netherlands, Rotterdam</li>
                                                  <li><i class="careerfy-icon careerfy-envelope"></i> <a href="#">hoang@gmail.com</a></li>
                                              </ul>
                                          </div>
                                          <a href="#" class="careerfy-candidate-default-btn"><i class="careerfy-icon careerfy-add-list"></i> Shortlist</a>
                                      </div>
                                  </div>
                              </li>
                              <li class="careerfy-column-12">
                                  <div class="careerfy-candidate-default-wrap">
                                      <figure><a href="#"><img src="./assets/extra-images/candidate-listing-thumb-2.jpg" alt=""></a></figure>
                                      <div class="careerfy-candidate-default-text">
                                          <div class="careerfy-candidate-default-left">
                                              <h2><a href="#">Minh Pham</a></h2>
                                              <ul>
                                                  <li>Product Designer at <a href="#" class="careerfy-candidate-default-studio">InteractiveLabs</a></li>
                                                  <li><i class="fa fa-map-marker"></i> Netherlands, Rotterdam</li>
                                                  <li><i class="careerfy-icon careerfy-envelope"></i> <a href="#">hoang@gmail.com</a></li>
                                              </ul>
                                          </div>
                                          <a href="#" class="careerfy-candidate-default-btn"><i class="careerfy-icon careerfy-add-list"></i> Shortlist</a>
                                      </div>
                                  </div>
                              </li>
                              <li class="careerfy-column-12">
                                  <div class="careerfy-candidate-default-wrap">
                                      <figure><a href="#"><img src="./assets/extra-images/candidate-listing-thumb-3.jpg" alt=""></a></figure>
                                      <div class="careerfy-candidate-default-text">
                                          <div class="careerfy-candidate-default-left">
                                              <h2><a href="#">Kenneth Reed</a></h2>
                                              <ul>
                                                  <li>Co-Founder at Ken <a href="#" class="careerfy-candidate-default-studio">Fashion</a></li>
                                                  <li><i class="fa fa-map-marker"></i> Netherlands, Rotterdam</li>
                                                  <li><i class="careerfy-icon careerfy-envelope"></i> <a href="#">hoang@gmail.com</a></li>
                                              </ul>
                                          </div>
                                          <a href="#" class="careerfy-candidate-default-btn"><i class="careerfy-icon careerfy-add-list"></i> Shortlist</a>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <!-- Pagination -->
                      <div class="careerfy-pagination-blog">
                          <ul class="page-numbers">
                              <li><a class="prev page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                              <li><span class="page-numbers current">01</span></li>
                              <li><a class="page-numbers" href="#">02</a></li>
                              <li><a class="page-numbers" href="#">03</a></li>
                              <li><a class="page-numbers" href="#">04</a></li>
                              <li><a class="next page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                          </ul>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <!-- Main Section -->

</div>
<!-- Main Content -->