<div class="careerfy-column-8">
    <div class="careerfy-typo-wrap">
        <div class="careerfy-candidate-editor">
            <div class="careerfy-content-title"><h2>About {{ candidate?.last_name }} {{ candidate?.first_name }}</h2></div>
            <div class="careerfy-jobdetail-services">
                <ul class="careerfy-row">
                    <li class="careerfy-column-4">
                        <i class="careerfy-icon careerfy-salary"></i>
                        <div class="careerfy-services-text">Offerd Salary <small>£50,000+</small></div>
                    </li>
                    <li class="careerfy-column-4">
                        <i class="careerfy-icon careerfy-social-media"></i>
                        <div class="careerfy-services-text">Career Level <small>Manager</small></div>
                    </li>
                    <li class="careerfy-column-4">
                        <i class="careerfy-icon careerfy-briefcase"></i>
                        <div class="careerfy-services-text">Experience <small>7 Years</small></div>
                    </li>
                    <li class="careerfy-column-4">
                        <i class="careerfy-icon careerfy-user"></i>
                        <div class="careerfy-services-text">Gender <small>Male</small></div>
                    </li>
                    <li class="careerfy-column-4">
                        <i class="careerfy-icon careerfy-network"></i>
                        <div class="careerfy-services-text">Industry <small>Banking</small></div>
                    </li>
                    <li class="careerfy-column-4">
                        <i class="careerfy-icon careerfy-mortarboard"></i>
                        <div class="careerfy-services-text">Qualification <small>Master’s Degree</small></div>
                    </li>
                </ul>
            </div>
            <div class="careerfy-content-title"><h2>Candidte Description</h2></div>
            <div class="careerfy-description">
                <p>{{ candidate?.resume }}</p>
            </div>
        </div>

        <!-- <app-candidate-experinces></app-candidate-experinces> -->

        <!-- <div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-mortarboard"></i> Education</h2> </div>
        <div class="careerfy-candidate-timeline">
            <ul class="careerfy-row">
                <li class="careerfy-column-12">
                    <small>2002 - 2004</small>
                    <div class="careerfy-candidate-timeline-text">
                        <span>Walters University</span>
                        <h2><a href="#">Masters in Fine Arts</a></h2>
                        <p>Fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered. outside oh arrogantly vehement.</p>
                    </div>
                </li>
                <li class="careerfy-column-12">
                    <small>2012 - 2015</small>
                    <div class="careerfy-candidate-timeline-text">
                        <span>Bachlors in Fine Arts</span>
                        <h2><a href="#">Tommers College</a></h2>
                        <p>That one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally.</p>
                    </div>
                </li>
                <li class="careerfy-column-12">
                    <small>2014 - 2015</small>
                    <div class="careerfy-candidate-timeline-text">
                        <span>Imperieal Institute of Art Direction</span>
                        <h2><a href="#">Diploma in Fine Arts</a></h2>
                        <p>Outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously  a glowered.</p>
                    </div>
                </li>
            </ul>
        </div> -->

        <!-- <div class="jobsearch_progressbar_wrap">
            <div class="careerfy-row">
                <div class="careerfy-column-6">
                    <div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-design-skills"></i> Skills</h2> </div>
                    <div class="jobsearch_progressbar1" data-width='90'>Sale Product</div>
                    <div class="jobsearch_progressbar1" data-width='72'>Google Seo</div>
                    <div class="jobsearch_progressbar1" data-width='50'>Listening</div>
                    <div class="jobsearch_progressbar1" data-width='95'>Graphic Design</div>
                    <div class="jobsearch_progressbar1" data-width='75'>Business Sense</div>
                </div>
                <div class="careerfy-column-6">
                    <span class="jobsearch_progressbar_subtitle">Personal Skills</span>
                    <div class="jobsearch_progressbar1" data-width='90'>Creativity</div>
                    <div class="jobsearch_progressbar1" data-width='72'>Team Group</div>
                    <div class="jobsearch_progressbar1" data-width='50'>Organizations</div>
                    <div class="jobsearch_progressbar1" data-width='95'>Flexibilty</div>
                    <div class="jobsearch_progressbar1" data-width='75'>Communication</div>
                </div>
            </div>
        </div>
        <div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-briefcase"></i> Portfolio</h2> </div>
        <div class="careerfy-gallery careerfy-simple-gallery candidate_portfolio">
            <ul class="careerfy-row grid">
                <li class="grid-item careerfy-column-3"> <a href="extra-images/employer-gallery-2.jpg" class="fancybox" data-fancybox-group="group"><img src="extra-images/employer-gallery-1.jpg" alt=""></a> </li>
                <li class="grid-item careerfy-column-6"> <a href="extra-images/employer-gallery-2.jpg" class="fancybox" data-fancybox-group="group"><img src="extra-images/employer-gallery-2.jpg" alt=""></a> </li>
                <li class="grid-item careerfy-column-3"> <a href="extra-images/employer-gallery-2.jpg" class="fancybox" data-fancybox-group="group"><img src="extra-images/employer-gallery-3.jpg" alt=""></a> </li>
                <li class="grid-item careerfy-column-3"> <a href="extra-images/employer-gallery-2.jpg" class="fancybox" data-fancybox-group="group"><img src="extra-images/employer-gallery-4.jpg" alt=""></a> </li>
                <li class="grid-item careerfy-column-3"> <a href="extra-images/employer-gallery-2.jpg" class="fancybox" data-fancybox-group="group"><img src="extra-images/employer-gallery-5.jpg" alt=""></a> </li>
            </ul>
        </div>
        <div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-trophy"></i> Honors & awards</h2> </div>
        <div class="careerfy-candidate-timeline">
            <ul class="careerfy-row">
                <li class="careerfy-column-12">
                    <small>2007</small>
                    <div class="careerfy-candidate-timeline-text">
                        <span>Yeartam</span>
                        <h2><a href="#">Distinguished Service Award</a></h2>
                        <p>Fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered. outside ignobly allegedly more when vehement.</p>
                    </div>
                </li>
                <li class="careerfy-column-12">
                    <small>2012</small>
                    <div class="careerfy-candidate-timeline-text">
                        <span>Goldtech</span>
                        <h2><a href="#">Robin Milner Young Researcher Award</a></h2>
                        <p>That one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally.</p>
                    </div>
                </li>
                <li class="careerfy-column-12">
                    <small>2014</small>
                    <div class="careerfy-candidate-timeline-text">
                        <span>Unodoncity</span>
                        <h2><a href="#">Doctoral Dissertation Award</a></h2>
                        <p>Outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously a glowered.</p>
                    </div>
                </li>
                <li class="careerfy-column-12">
                    <small>Dec 2016</small>
                    <div class="careerfy-candidate-timeline-text">
                        <span>Techzenbam</span>
                        <h2><a href="#">Programming Languages Achievement</a></h2>
                        <p>Outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely hastily dalmatian a glowered.</p>
                    </div>
                </li>
            </ul>
        </div> -->
    </div>
</div>